---
layout: default
title: Projects
---

<div id = "content">
  <header class="post-header">
    <h1>Projects</h1>
  </header>
  For a complete list of my open-source projects, visit my <a href = "{{ site.data.params.github_url }}">Github profile</a>. Below are a few.

  <div class="projects">
    {% for project in site.data.projects %}
      <div class="project">
        <div class="project-name">
          <a href = "{{ project.url }}">{{ project.name }}</a>
          <a style="float:right;"href = "{{ project.source_url }}">Source</a>
        </div>
        {% if project.source_url %}
        <ul class="project-description">
          {% for line in project.description %}
            <li>{{ line }}</li>
          {% endfor %}
        </ul>
        <span class="project-tech">
          {% if project.tech %}
            <span>Technologies involved</span>: {{ project.tech }}
          {% else %}
            <span class="project-padding">.</span>
          {% endif %}
        </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
