<div class="footer">
  <div class="social">
    <a href = "{{ site.urls.github }}" target = "_blank"><img src = "{{ site.icons.github }}" alt = "Github logo"></a>
    <a href = "{{ site.urls.linkedin }}" target = "_blank"><img src = "{{ site.icons.linkedin }}" alt = "Linkedin logo"></a>
    <a href = "/atom.xml" target = "_blank"><img src = "{{ site.icons.rss }}" alt = "RSS logo"></a>
  </div>
  <div class="links">
    <a href = "/sitemap.xml">SITEMAP</a>
    <!-- <a href = "{{ site.urls.contact }}">contact</a> | -->
  </div>
</div>
